.home-nav {
  background-color: $highlight-1;
  .navbar-nav {
    li {
      a {
        color: #fff;
        &:hover, &:focus {
          background-color: rgba(0,0,0,0.3);
          border-bottom: 0;
          color: #fff;
        }
      }
    }
    .active {
      a {
        border-bottom: 0;
        background-color: rgba(0,0,0,0.2);
        &:hover, &:focus {
          background-color: rgba(0,0,0,0.3);
          border-bottom: 0;
        }
      }
    }
  }
  .navbar-toggle {
    border-color: #fff;
    .icon-bar {
      background-color: #fff;
    }
  }
}
.panel-wrapper {
  display: flex;
  margin-top: 50px;
  @media (max-width: $sm-screen) {
    flex-wrap: wrap;
  }
}
.panel {
  width: calc(100%*1 / 4);
  position: fixed;
  height: 100vh;
  border: 1px solid #333;
  border-radius: 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  &:before {
    content: ' ';
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  &:hover {
    &:before {
      content: none;
    }
    .panel-info {
      h2, h3 {
        color: $highlight-2;
      }
    }
    .open-panel {
      border-color: $highlight-2;
      background-color: #fff;
      .glyphicon {
        color: $highlight-2;
      }
    }
  }
  @media (max-width: $sm-screen) {
    position: relative;
    width: 100%;
    height: 280px;
    background-position: bottom;
  }
}
.panel-content {
  display: none;
  background-image: url('../images/food-bg.png');
  position: absolute;
  left: calc(100% * 1 / 4);
  padding: $spacing*3 $spacing*4;
  width: calc(100% / 4 * 3);
  height: calc(100% - 50px);
  h1 {
    text-align: center;
    margin-bottom: $spacing*2.5;
  }
  li {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1;
    padding-bottom: $spacing;
  }
  .open-dt-page {
    display: block;
    margin: $spacing*3 auto;
    background-color: transparent;
    border: 2px solid $highlight-1;
    border-radius: 0;
    color: $highlight-1;
    font-size: 18px;
    font-weight: 500;
    padding: 13px 28px;
    width: 20%;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    &:hover, &:focus {
      outline: none;
      text-decoration: none;
      background-color: $highlight-1;
      color: #fff;
    }
  }
}
.view-panel {
  display: block;
}
.panel1 {
  left: calc(100% * 0 / 4);
  background-image: url('../images/fb-lu.png');
}
.panel2 {
  left: calc(100% * 1 / 4);
  background-image: url('../images/fb-can.png');
}
.panel3 {
  left: calc(100% * 2 / 4);
  background-image: url('../images/fb-chuan.png');
}
.panel4 {
  left: calc(100% * 3 / 4);
  background-image: url('../images/fb-su.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.panel-active {
  left: calc(100% * 0 / 4);
}
.panel-push-left {
  left: 0
}
.panel-push-right {
  left: 100%;
}

.panel-info {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  @media (max-width: $sm-screen) {
    top: 55%;
  }
  h2, h3 {
    color: #fff;
    text-align: center;
  }
  .open-panel {
    display: block;
    margin: $spacing*2 auto;
    background-color: transparent;
    border: 2px solid #eee;
    border-radius: 100px;
    padding: 15px 18px;
    &:hover, &:focus {
      outline: none;
    }
    .glyphicon {
      color: #fff;
    }
  }
}

@media (max-width: $sm-screen) {
  .panel1, .panel2, .panel3, .panel4,
  .panel-active, .panel-push-left, .panel-push-right {
    left: 0;
  }
  .panel-content, .view-panel {
    display: none;
  }
}
