//Google Font
@import url('https://fonts.googleapis.com/css?family=Delius+Unicase|Open+Sans');

$header-font: 'Delius Unicase', cursive;
$body-font: 'Open Sans', sans-serif;

// media size setting

$sm-screen: 768px;
$md-screen: 992px;
$lg-screen: 1200px;

$spacing: 15px;

body {
  //padding-top: 70px;
}

p, li {
  font-size: 1.6rem;
  font-family: $body-font;
}

h1, h2 {
  font-family: $header-font;
}

//Theme Color
$highlight-1:   #f63440;
