@import url("https://fonts.googleapis.com/css?family=Delius+Unicase|Open+Sans");
/* line 19, ../sass/setting.scss */
p, li {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

/* line 24, ../sass/setting.scss */
h1, h2 {
  font-family: "Delius Unicase", cursive;
}
