/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Delius+Unicase|Open+Sans");
/* line 19, ../sass/setting.scss */
p, li {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

/* line 24, ../sass/setting.scss */
h1, h2 {
  font-family: "Delius Unicase", cursive;
}

/* line 5, ../sass/theme.scss */
.home-nav {
  width: 80px;
  height: 100vh;
  background-color: #333;
}
@media (max-width: 768px) {
  /* line 5, ../sass/theme.scss */
  .home-nav {
    width: 100%;
    height: 52px;
  }
}

/* line 14, ../sass/theme.scss */
.panel-wrapper {
  display: flex;
}
@media (max-width: 768px) {
  /* line 14, ../sass/theme.scss */
  .panel-wrapper {
    flex-wrap: wrap;
  }
}

/* line 20, ../sass/theme.scss */
.panel {
  width: calc(100%*1 / 4);
  height: 100vh;
  border: 1px solid #333;
  border-radius: 0;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  /* line 20, ../sass/theme.scss */
  .panel {
    width: 100%;
    height: 280px;
  }
}

/* line 36, ../sass/theme.scss */
.navbar-default {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}
/* line 41, ../sass/theme.scss */
.navbar-default .navbar-nav {
  margin: 0 -15px;
}
@media (min-width: 768px) {
  /* line 41, ../sass/theme.scss */
  .navbar-default .navbar-nav {
    margin: 0;
  }
}
/* line 47, ../sass/theme.scss */
.navbar-default .navbar-nav li a {
  color: #fff;
}
/* line 49, ../sass/theme.scss */
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
  border-bottom: 2px solid #f63440;
  color: #fff;
}
/* line 56, ../sass/theme.scss */
.navbar-default .navbar-nav .active a {
  background-image: none;
  background-color: transparent;
  border-bottom: 2px solid #f63440;
  box-shadow: none;
  color: #fff;
}
/* line 62, ../sass/theme.scss */
.navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:focus {
  background-color: transparent;
  color: #fff;
}
@media (max-width: 768px) {
  /* line 69, ../sass/theme.scss */
  .navbar-default .navbar-collapse {
    background-color: #f63440;
  }
  /* line 73, ../sass/theme.scss */
  .navbar-default .navbar-collapse li a {
    color: #fff;
  }
  /* line 75, ../sass/theme.scss */
  .navbar-default .navbar-collapse li a:hover, .navbar-default .navbar-collapse li a:focus {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 0;
    color: #fff;
  }
  /* line 83, ../sass/theme.scss */
  .navbar-default .navbar-collapse .active a {
    border-bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  /* line 86, ../sass/theme.scss */
  .navbar-default .navbar-collapse .active a:hover, .navbar-default .navbar-collapse .active a:focus {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 0;
  }
}
/* line 94, ../sass/theme.scss */
.navbar-default .navbar-toggle {
  border-color: #f63440;
}
/* line 96, ../sass/theme.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #f63440;
}
/* line 98, ../sass/theme.scss */
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
/* line 102, ../sass/theme.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f63440;
}

/* line 107, ../sass/theme.scss */
.sticky-background {
  background-color: #f63440;
  transition: all 0.3s ease-in;
}
/* line 112, ../sass/theme.scss */
.sticky-background .navbar-nav li a {
  color: #fff;
}
/* line 114, ../sass/theme.scss */
.sticky-background .navbar-nav li a:hover, .sticky-background .navbar-nav li a:focus {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 0;
  color: #fff;
}
/* line 122, ../sass/theme.scss */
.sticky-background .navbar-nav .active a {
  border-bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 125, ../sass/theme.scss */
.sticky-background .navbar-nav .active a:hover, .sticky-background .navbar-nav .active a:focus {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 0;
}

/* line 133, ../sass/theme.scss */
.hero {
  width: 100%;
  min-height: 380px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 140, ../sass/theme.scss */
.hero:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 380px;
  background: rgba(17, 17, 17, 0.6);
}

/* line 150, ../sass/theme.scss */
#hero1 {
  background-image: url("../images/hero1.png");
}

/* line 153, ../sass/theme.scss */
.hero-info {
  text-align: center;
  margin-top: -240px;
  position: relative;
  padding: 0 90px;
}
/* line 158, ../sass/theme.scss */
.hero-info h1 {
  color: #fff;
  font-size: 3.8rem;
  margin-bottom: 30px;
}
/* line 163, ../sass/theme.scss */
.hero-info p {
  color: #fff;
  font-size: 2.2rem;
  text-align: left;
}

/* line 170, ../sass/theme.scss */
.top-button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 42px;
  height: 42px;
  background-color: #666;
  border: 0;
  color: #fff;
  margin-bottom: 30px;
}
/* line 180, ../sass/theme.scss */
.top-button:focus {
  outline: none;
}

/* line 185, ../sass/theme.scss */
.food-intro {
  position: relative;
  margin-top: 150px;
}

/* line 190, ../sass/theme.scss */
.food-img img {
  width: 100%;
}

/* line 194, ../sass/theme.scss */
.more {
  position: relative;
  display: block;
  margin: 30px auto;
}

/* line 201, ../sass/theme.scss */
.food-features {
  position: relative;
  margin-top: 100px;
}

/* line 205, ../sass/theme.scss */
.feature {
  border-radius: 100%;
  background-color: #666;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  width: 220px;
  height: 220px;
}
/* line 213, ../sass/theme.scss */
.feature h3 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 222, ../sass/theme.scss */
.food-dt {
  position: relative;
  margin-top: 100px;
  margin-bottom: 60px;
}
/* line 226, ../sass/theme.scss */
.food-dt h2 {
  text-align: center;
  margin: 30px auto;
}

/* line 232, ../sass/theme.scss */
.detail img {
  width: 100%;
}

/* line 237, ../sass/theme.scss */
footer {
  background-color: #666;
  width: 100%;
  height: 80px;
}
