@import url("https://fonts.googleapis.com/css?family=Delius+Unicase|Open+Sans");
/* line 19, ../sass/theme.scss */
p, li {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}

/* line 24, ../sass/theme.scss */
h1, h2 {
  font-family: "Delius Unicase", cursive;
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 4, ../sass/_details.scss */
.home-nav {
  width: 80px;
  height: 100vh;
  background-color: #333;
}
@media (max-width: 768px) {
  /* line 4, ../sass/_details.scss */
  .home-nav {
    width: 100%;
    height: 52px;
  }
}

/* line 13, ../sass/_details.scss */
.panel-wrapper {
  display: flex;
}
@media (max-width: 768px) {
  /* line 13, ../sass/_details.scss */
  .panel-wrapper {
    flex-wrap: wrap;
  }
}

/* line 19, ../sass/_details.scss */
.panel {
  width: calc(100%*1 / 4);
  height: 100vh;
  border: 1px solid #333;
  border-radius: 0;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  /* line 19, ../sass/_details.scss */
  .panel {
    width: 100%;
    height: 280px;
  }
}

/* line 35, ../sass/_details.scss */
.navbar-default {
  background-color: transparent;
  background-image: none;
  border: none;
  box-shadow: none;
}
/* line 40, ../sass/_details.scss */
.navbar-default .navbar-nav {
  margin: 0 -15px;
}
@media (min-width: 768px) {
  /* line 40, ../sass/_details.scss */
  .navbar-default .navbar-nav {
    margin: 0;
  }
}
/* line 46, ../sass/_details.scss */
.navbar-default .navbar-nav li a {
  color: #fff;
}
/* line 48, ../sass/_details.scss */
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
  border-bottom: 2px solid #f63440;
  color: #fff;
}
/* line 55, ../sass/_details.scss */
.navbar-default .navbar-nav .active a {
  background-image: none;
  background-color: transparent;
  border-bottom: 2px solid #f63440;
  box-shadow: none;
  color: #fff;
}
/* line 61, ../sass/_details.scss */
.navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .active a:focus {
  background-color: transparent;
  color: #fff;
}
@media (max-width: 768px) {
  /* line 68, ../sass/_details.scss */
  .navbar-default .navbar-collapse {
    background-color: #f63440;
  }
  /* line 72, ../sass/_details.scss */
  .navbar-default .navbar-collapse li a {
    color: #fff;
  }
  /* line 74, ../sass/_details.scss */
  .navbar-default .navbar-collapse li a:hover, .navbar-default .navbar-collapse li a:focus {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 0;
    color: #fff;
  }
  /* line 82, ../sass/_details.scss */
  .navbar-default .navbar-collapse .active a {
    border-bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
  }
  /* line 85, ../sass/_details.scss */
  .navbar-default .navbar-collapse .active a:hover, .navbar-default .navbar-collapse .active a:focus {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 0;
  }
}
/* line 93, ../sass/_details.scss */
.navbar-default .navbar-toggle {
  border-color: #f63440;
}
/* line 95, ../sass/_details.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #f63440;
}
/* line 97, ../sass/_details.scss */
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}
/* line 101, ../sass/_details.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f63440;
}

/* line 106, ../sass/_details.scss */
.sticky-background {
  background-color: #f63440;
  transition: all 0.3s ease-in;
}
/* line 111, ../sass/_details.scss */
.sticky-background .navbar-nav li a {
  color: #fff;
}
/* line 113, ../sass/_details.scss */
.sticky-background .navbar-nav li a:hover, .sticky-background .navbar-nav li a:focus {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 0;
  color: #fff;
}
/* line 121, ../sass/_details.scss */
.sticky-background .navbar-nav .active a {
  border-bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 124, ../sass/_details.scss */
.sticky-background .navbar-nav .active a:hover, .sticky-background .navbar-nav .active a:focus {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 0;
}

/* line 132, ../sass/_details.scss */
.hero {
  width: 100%;
  min-height: 380px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 139, ../sass/_details.scss */
.hero:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 380px;
  background: rgba(17, 17, 17, 0.6);
}

/* line 149, ../sass/_details.scss */
#hero1 {
  background-image: url("../images/hero1.png");
}

/* line 152, ../sass/_details.scss */
.hero-info {
  text-align: center;
  margin-top: -240px;
  position: relative;
  padding: 0 90px;
}
@media (max-width: 768px) {
  /* line 152, ../sass/_details.scss */
  .hero-info {
    margin-top: -300px;
    padding: 0 30px;
  }
}
/* line 161, ../sass/_details.scss */
.hero-info h1 {
  color: #fff;
  font-size: 3.8rem;
  margin-bottom: 30px;
}
/* line 166, ../sass/_details.scss */
.hero-info p {
  color: #fff;
  font-size: 2.2rem;
  text-align: left;
}
@media (max-width: 768px) {
  /* line 166, ../sass/_details.scss */
  .hero-info p {
    min-height: 200px;
  }
}

/* line 176, ../sass/_details.scss */
.top-button {
  position: fixed;
  bottom: 0;
  right: -31px;
  padding: 5px 8px;
  background-color: #f63440;
  border: 0;
  color: #fff;
  margin-bottom: 40px;
  z-index: 99;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 188, ../sass/_details.scss */
.top-button:focus {
  outline: none;
}

/* line 193, ../sass/_details.scss */
.food-intro {
  position: relative;
  margin-top: 150px;
}
@media (max-width: 768px) {
  /* line 193, ../sass/_details.scss */
  .food-intro {
    margin-top: 60px;
  }
}

/* line 201, ../sass/_details.scss */
.food-img img {
  width: 100%;
}
@media (max-width: 768px) {
  /* line 200, ../sass/_details.scss */
  .food-img {
    margin-bottom: 15px;
  }
}

/* line 208, ../sass/_details.scss */
.content-wrapper {
  height: 280px;
  position: relative;
  overflow: hidden;
}
/* line 212, ../sass/_details.scss */
.content-wrapper:after {
  content: ' ';
  width: 100%;
  height: 52px;
  position: absolute;
  bottom: 0;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 47%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.65) 47%, white 100%);
}

/* line 222, ../sass/_details.scss */
.expanded {
  height: 100%;
}
/* line 224, ../sass/_details.scss */
.expanded:after {
  content: none;
}

/* line 228, ../sass/_details.scss */
.open-button {
  position: relative;
  display: block;
  margin: 30px auto;
}
/* line 232, ../sass/_details.scss */
.open-button:focus {
  outline: none;
}

/* line 238, ../sass/_details.scss */
.food-features {
  position: relative;
  margin-top: 60px;
}
/* line 241, ../sass/_details.scss */
.food-features h2 {
  text-align: center;
  margin: 37.5px auto;
}

/* line 248, ../sass/_details.scss */
#slider {
  width: 840px;
  height: 426px;
  overflow: hidden;
  margin: 50px auto;
  box-shadow: 2px 2px 2px #666;
}

/* line 256, ../sass/_details.scss */
.slides {
  display: block;
  width: 3360px;
  height: 426px;
  margin: 0;
  padding: 0;
}

/* line 264, ../sass/_details.scss */
.slide {
  float: left;
  list-style-type: none;
  width: 840px;
  height: 426px;
  position: relative;
}
/* line 270, ../sass/_details.scss */
.slide img {
  width: 100%;
}
/* line 273, ../sass/_details.scss */
.slide h3 {
  position: absolute;
  bottom: 0;
  background: rgba(17, 17, 17, 0.6);
  color: #fff;
  padding: 15px;
  margin: 0;
  width: 100%;
}

/* line 286, ../sass/_details.scss */
.food-dt {
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}
/* line 290, ../sass/_details.scss */
.food-dt h2 {
  text-align: center;
  margin: 37.5px auto;
  margin-bottom: 60px;
}

/* line 296, ../sass/_details.scss */
.detail {
  position: relative;
}
/* line 298, ../sass/_details.scss */
.detail img {
  width: 100%;
}
@media (max-width: 768px) {
  /* line 296, ../sass/_details.scss */
  .detail {
    margin-bottom: 30px;
  }
}
/* line 305, ../sass/_details.scss */
.detail:hover .dt-info {
  border-radius: 0;
  -webkit-transform: scale(0);
  transform: scale(1);
}

/* line 312, ../sass/_details.scss */
.dt-info {
  background-color: rgba(246, 52, 64, 0.9);
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
/* line 325, ../sass/_details.scss */
.dt-info h3 {
  color: #fff;
  margin-top: 25%;
  margin-bottom: 30px;
}
/* line 330, ../sass/_details.scss */
.dt-info .dt-button {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 0;
  color: #fff;
}
/* line 335, ../sass/_details.scss */
.dt-info .dt-button:hover {
  background: rgba(255, 255, 255, 0.42);
  color: #fff;
}

/* line 341, ../sass/_details.scss */
.recipe-modal {
  /**Default imageModal to hidden**/
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
/* line 352, ../sass/_details.scss */
.recipe-modal:target {
  outline: none;
  display: block;
}

/* line 357, ../sass/_details.scss */
.recipe-dt {
  background-color: #fff;
  display: flex;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
  /* line 357, ../sass/_details.scss */
  .recipe-dt {
    flex-flow: column;
    top: 52%;
    width: 85%;
  }
}

/* line 372, ../sass/_details.scss */
.recipe-info {
  padding: 22.5px;
}
/* line 374, ../sass/_details.scss */
.recipe-info h3 {
  margin-bottom: 22.5px;
  font-family: "Delius Unicase", cursive;
}

/* line 379, ../sass/_details.scss */
.closed-bt {
  color: #f63440;
  font-size: 28px;
  display: inline-table;
  padding-right: 15px;
  padding-top: 10px;
}
/* line 385, ../sass/_details.scss */
.closed-bt .closed-text {
  display: none;
  border: 2px solid #f63440;
  background-color: #f63440;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 5px 20px;
  text-transform: uppercase;
}
/* line 395, ../sass/_details.scss */
.closed-bt:hover, .closed-bt:focus {
  color: #333;
  text-decoration: none;
}
@media (max-width: 768px) {
  /* line 379, ../sass/_details.scss */
  .closed-bt {
    display: block;
    margin: 15px auto;
    margin-bottom: 30px;
    padding: 0;
  }
  /* line 404, ../sass/_details.scss */
  .closed-bt .glyphicon {
    display: none;
  }
  /* line 407, ../sass/_details.scss */
  .closed-bt .closed-text {
    display: block;
  }
}

/* line 412, ../sass/_details.scss */
footer {
  background-color: #666;
  width: 100%;
  height: 80px;
}
